---
name: prettier

on: [push]

jobs:

  prettier:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Prettify code with debug non-blocking
        uses: creyD/prettier_action@8c18391fdc98ed0d884c6345f03975edac71b8f0 # v4.6
        continue-on-error: true
        with:
          dry: True
          prettier_options: --check **/*.md --prose-wrap always --print-width 120 --log-level debug

      - name: Prettify code without debug
        uses: creyD/prettier_action@8c18391fdc98ed0d884c6345f03975edac71b8f0 # v4.6
        with:
          dry: True
          prettier_options: --check **/*.md --prose-wrap always --print-width 120

